.navBarLogo{
  display:block;
  max-width: 100%;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.qtifyNavBar {
  background-color: #43ad43;
  box-sizing: border-box;
  display:flex;
  height: 74px;
  padding: 0px 32px;
  align-items: center;
}
input,
button,
textarea,
select {
  font: inherit;
}
.qtifyFeedback{
  background-color:black;
  cursor:pointer;
  color:#43ad43;
  border: none;
  font-size: 16px;           
  font-weight: 500;    
  padding: 14px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* subtle shadow */
  transition: all 0.3s ease;    /* smooth hover effect */
  position: Absolute; top: 12px; right: 6px; 
}
.qtifyFeedback:hover {
  background-color: #222;       /* slightly lighter black on hover */
  color: #39e639;               /* brighter green on hover */
}